.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f7;
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex; 
        align-items: center;
        max-width: 320px;
    }
    &__logo-img {
        width: 100px;
        margin-right: 5px;
    }
    &__logo-title {
        font-weight: 800;
        font-size: 30px;
    }
    &__logo-text {
        font-size: 12px;
    }
    &__number{
        margin-left: 40px;
        text-align: center;
    }
    &__number-phone {
        margin-top: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 10px;
    }
    &__number-text {
        color: #999999;
        font-weight: 12px;
    }
    &__plase {
        margin: 0 40px;
        border: none;
        background-color: transparent;
        display: flex; 
        align-items: center;
    }
    &__plase-img {
        width: 20px;
        padding-right: 5px;
    }
    &__cart {
        display: flex;
        align-items: center;
        border: none;
        background-color: #f3f3f7;
        border-radius: 20px;
        padding: 2px 15px;
        cursor: pointer;
        color: #000;
        transition: 400ms;
        &:hover {
            background-color: rgb(118, 118, 118); 
            color: #fff;

        }
    }
    &__cart-img {
        padding-left: 20px;
        height: 20px;
    }
    &__signin {
        border: none;
        background-color: #f3f3f7;
        border-radius: 20px;
        padding: 2px 15px;
        cursor: pointer;
        color: #000;
        transition: 400ms;
        display: none;
        &:hover {
            background-color: #000; 
            color: #fff;

        }
    }
}
.menu {
    border-bottom: 1px solid #f3f3f7 ;
    &__list {
        margin: 20px auto;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        font-weight: 600;
        &:hover {
            color: rgb(255, 71, 71);
            cursor: pointer;
        }
    }
    &__list_active{
        color: #999;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    &__title {
        font-size: 52px;
    }
    &__filters {
        position: relative;
    }
    &__filters-btn {
        padding-right: 50px;
        text-align: center;
        background-color: transparent;
        align-items: center;
        border: none;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
    }
}

.open-filter {
    position: absolute;
    right: 0;
    width: 170px;
    height: 130px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    .open_actve {
        font-weight: bold;
        color: rgb(255, 71, 71);
    }
}
