@media(max-width: 800px) {
    .header {
        &__plase {
            display: none 
        }
    }
    .cart-item{
        &__img {
            margin-left: 0;
        }
        &__name{
            font-size: 20px ;
        }
    }
}
@media(max-width: 768px) {
    .cart-item {
        display: inline-block;
        min-width: 380px;
        &__block-second {
            padding: 20px 0 30px 60px;
        }
    }
    .cart-items {
        display: grid;

    }
}

@media(max-width: 660px) {
    .header {
        &__number {
            display: none 
        }
    }
}

@media(max-width: 470px) {
    .header {
        &__logo-img {
            width: 75px
        }
        &__logo-title {
            font-size: 24px 
        }
    }
}


@media(max-width: 425px) {
    .cart-item {
        width: 100%;
        &__block-second {
            padding: 20px 0 30px 10px;
        }
        &__block-first {
            margin: 0;

        }
        &__image {
            margin-left: 0;
        }
    }
    .cart {
        &__header {
            display: block;
        }
        &__header-title {
            display: block;
            margin-bottom: 20px;
        }
    }
    .header {
        display: grid;
        &__cart {
            margin: 10px 0 0 0px;
            
        }
    }
    .title {
        &__filters-btn {
            padding-right: 0;
        }
    }
   
}
